
<div class="container">
    <div class="row"><!--Fila-->
        <div class="col-lg-12 my-5">
            <h1>Example heading <span class="badge bg-secondary">New</span></h1>
        </div>
        <div class="col-lg-12">
            <div class="card" style="width: 18rem;">
                <img src="assets/avión.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
